<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <target name="c1" type="Console" />
    </targets>
    <rules>
      <logger name="DynamicEntityParser" minlevel="Info" writeTo="c1" />
      <logger name="Expando" minlevel="Debug" writeTo="c1" />
    </rules>
  </nlog>
</configuration>